################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductWebApi/obj
/ProductWebApi/.vs/ProductWebApi
/ProductWebApi/bin/Debug/net8.0
/ProductWebApi/.vs/ProjectEvaluation
/ProductWebApi/Controllers/WeatherForecastController.cs
/ProductWebApi/WeatherForecast.cs
/.gitignore
