################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductWebApi/obj
/ProductWebApi/.vs/ProductWebApi
/ProductWebApi/bin/Debug/net8.0
